{% extends "base.html" %}


{% block head_css %}

  <style>
  p {
    font-size: 17px;
    text-align: justify;
}
  </style>

{% endblock %}
{% block content %}
<div class="container">

<div class="row">
       
        <div class="col-md-12 figures">
            <h3>Reference</h3>
            <p class="well">
           
                <a target="_blank" title="DTIV" href="http://www.cell.com/cell-chemical-biology/fulltext/S2451-9456(17)30426-9">Drug Target Commons: A Community Effort to Build a Consensus Knowledge Base for Drug-Target Interactions</a>
                 <strong>Jing Tang, Zia-ur-Rehman Tanoli, Balaguru Ravikumar, Zaid Alam, Anni Rebane, Markus Vähä-Koskela, Gopal Peddinti, Arjan J. van Adrichem, Janica Wakkinen, Alok Jaiswal, Ella Karjalainen, Prson Gautam, Liye He, Elina Parri, Suleiman Khan, Abhishekh Gupta, Mehreen Ali, Laxman Yetukuri, Anna-Lena Gustavsson, Brinton Seashore-Ludlow, Anne Hersey, Andrew R. Leach, John P. Overington, Gretchen Repasky, Krister Wennerberg,Tero Aittokallio;</strong><br>
                 Cell Chemical Biology, <i>2017</i> doi: 10.1016/j.chembiol.2017.11.009
                
            </p>
         
        </a></div>
        
    </div>
    <div class="row"> 
        <div class="col-md-12 figures">
            <h3>Contact</h3>
            <br>
            <p><strong>For information, comments and/or suggestions, please contact us at:</strong></p>

            <p>FIMM - Aittokallio group<br>
                Computational Systems Medicine<br>
                FI-00014 University of Helsinki<br>
                Tukholmankatu 8,Biomedicum Helsinki 2U<br>
                Helsinki,Finland</p>

            <p><strong>email:</strong><a href="mailto:zia.rehman@helsinki.fi,zaidalam@helsinki.fi" target="tab">DTC Team</a><br>
 
          
        </div>
       
    </div>
</div>
{% endblock content %}